{% extends "base.html.twig" %}
{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            
                    <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                             <h1>{{ property.title }}</h1>
                             <h2>{{ property.rooms}} pieces</h2>
                             <div class="text-primary" style="font-size:4em;font-weight:bold"></div>
                             <a href="#" class="btn btn-primary">Contactez l agence</a>
                            </div>
                    </div>
            
        </div>
    
        <p>{{property.descripition}}</p>
      <div class="row">
          <div class="col-md-8">
              
               <h2>caracteristique</h2>
              <table class="table table-striped">
                  <tr>
                      <td>Surface habitable</td>
                      <td>{{ property.surface }} m</td>
                  </tr>
                  <tr>
                      <td>Pieces</td>
                      <td>{{property.rooms }}</td>
                  </tr>
                  <tr>
                      <td>Chambres</td>
                      <td>{{ property.bedrooms }}</td>
                  </tr>
                 <tr>
                     <td>Etage</td>
                     <td>{{ property.floor }}</td>
                 </tr>
                 <tr>
                     <td>Chauffage</td>
                     <td>{{ property.heatType }}</td>
                 </tr>
                
              </table>
          </div>
          <div class="col-md-4">
              <h2>specifité</h2>
          </div>
      </div>
    </div>
{% endblock %}