{% extends "base.html.twig" %}
{% block body %}
<div class="jumbotron text-center">
        <div class="containe">
              <h1>Agence mohamed ben kacem</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa facilis, perspiciatis voluptate pariatur explicabo, assumenda alias ex sed, consectetur quis doloribus labore 
                  debitis? Deleniti porro commodi officiis quae nobis excepturi.</p>
      
        </div>
      </div>

{% endblock %}
