{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    <h1>les dernies biens</h1>
  <div class="row flex">
  {% for property in properties %}
      <div class="col-3">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title"> 
                    <a href="{{ path('property.show',{id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                  </h5>
                  <p class="card-text">{{ property.city}} {{ property.postalCode }}</p>
                  <div class="text-primary">{{ property.prix }}</div>
              </div>
          </div>
      </div>
  {% endfor %}

  </div>

</div>  

{% endblock %}